<div class="clr"></div>
<div class="article">
  <h2><center><strong>John J McKelvie</strong></center></h2>
  <h3><center><strong>Marketing Consultant</strong></center></h3>
  <h3><center><strong>John J McKelvie LLC</strong></center></h3>
  <h3><center><strong>Las Vegas, Nevada<strong></center></h3>
  <div class="clr"></div>
  <p></p>
  <p>John McKelvie has provided marketing communications services to the metals industry for two decades. For the first 10 of those years, he served in increasingly senior posts at Inductotherm Corp., beginning as Advertising Manager in 1990 and retiring as Director of Marketing in 2000. Throughout his time at Inductotherm, McKelvie was directly responsible for producing all of the company’s advertising, trade show exhibits, Web site, press releases and sales support materials (brochures, videos, photography, speeches and multimedia presentations).</p> 

  <p>During much of this same period, McKelvie was Inductotherm’s representative to the Casting Industry Suppliers Association (CISA) and served as a director and as a vice president of the International Trade Group. McKelvie also was an active member of the Investment Casting Institute (ICI) and the Ductile Iron Society (DIS).</p>

  <p>Since 2000, McKelvie has offered independent marketing communications consulting services to companies and organizations in the metals industry, both in the US and overseas. 

    McKelvie’s international marketing experience includes organizing major trade show exhibits in China (Metal + Metallurgy China), Germany (GIFA), Mexico (FundiExpo), and the U.K. (Birmingham Foundry Expo). He has organized the American Pavilion for CISA at the Metal China exhibition since 1995. At last year’s Metal China exhibition in Beijing, the CISA American Pavilion occupied nearly 400 square meters and included 10 participating companies, making it the second largest national pavilion at Metal China (after the German Pavilion).</p> 

  <p>McKelvie’s career also has included work as a newspaper journalist, as an assignment reporter (freelance) for Popular Mechanics magazine, as a Public Information Officer with the U.S. Army in Germany, as editor of the New Jersey National Guard newspaper, as mayor of his town and as assistant vice president for public relations at Fidelity Bank in Philadelphia. He served at the bank for 16 years before making the transition to the metals industry.</p>

  <p>A Journalism graduate of Temple University in Philadelphia, McKelvie now lives in Las Vegas, Nevada.</p>
</div>
