<div class="article">
   <h2><span>Our</span> Services</h2>
   <div class="clr"></div>
   <p><strong>Drawing on more than 20 years of experience in marketing for foundry industry suppliers, including a decade as head of marketing for Inductotherm Corp., John McKelvie continues to help metals-related companies develop persuasive marketing communications.</strong>  While "consulting" may be the official term for his business activities, McKelvie's services are much more hands-on. He can be your trade show planner and supervise your booth's construction and daily management. He can create compelling ads, turn complex technical information into easy to understand papers, compose attention-getting trade magazine articles, and shoot and edit high definition video for your YouTube channel. And if you don't have a YouTube channel, he can set one up for you. </p>
   <p></p>
   